@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #C33764, #1D2671  );
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 1.7rem;
    font-weight: bold;
}

.error-message {
    font-size: 1.1rem;
    color: orangered;
}

.btn-center {
    justify-content: center;
}