<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row btn-center">
<a class="btn btn-primary" href="/authors/<%= author._id %>/edit">Edit</a>
<%-include('../partials/deleteForm', { url: `/authors/${author._id}` })%> 
</div>
<% if (booksByAuthor.length > 0) { %>
    <h2 class="page-header">Books By Author</h2>
    <%- include('../partials/bookGrid', {books: booksByAuthor}) %>  
<% } %>  